<main class="container">
    <div class="ajouterBtn">
      <a routerLink="/add">
        <button mat-flat-button color="accent">
          Ajouter +
        </button>
      </a>
    </div>
  
    <h2>Liste des assignments :</h2>
    <div class="listAssignements">
      <mat-list *ngFor="let assignment of assignments; index as i">
        <nav>
          <a routerLink="/assignment/{{assignment.id}}">
            <mat-list-item>
                <div *ngIf="assignment.rendu; else nonsoumis">
                    <mat-card style="color:green;">
                        <mat-card-title>{{i}} - {{assignment.nom}}</mat-card-title>
                        <mat-card-subtitle>{{assignment.dateDeRendu | date}}</mat-card-subtitle>
                    </mat-card>
                </div>
                    <ng-template #nonsoumis>
                        <mat-card style="color:red;margin-top:60px;">
                            <mat-card-title>{{i}} - {{assignment.nom}}</mat-card-title>
                            <mat-card-subtitle>{{assignment.dateDeRendu | date}}</mat-card-subtitle>
                        </mat-card>
                    </ng-template>
\            </mat-list-item>
          </a>
        </nav>
      </mat-list>
    </div>
  </main>
  